/*refresh the npm run compile:sass if the import doesnot work*/
/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-1800] is where our normal style works
1800px + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
rem doesnot work in media query so em is used.
px is avoided in media query 
max-width for desktop first approach

ORDER: base + typography > general layouts + grid > page layout > components
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /*box-size inheritated*/
  box-sizing: inherit; }

html {
  max-width: 100%;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  padding: 1.5rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0 !important; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  /*controls the space between lines of text*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #8a2e69;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      padding: 2rem 0; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem;
  margin-bottom: 4rem; }

.paragraph-last {
  font-size: 1.4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.form {
  /*Immidiate adjacent sibling selector by '+' and '~' for siblings not immidiate adjacent*/
  /*The selected sibling is styled when :placeholder-shown pseudoclass is available*/
  /*After pseudo element for small button inside big circular button!*/
  /*Height, width, margin wrokd for block or inline-block element*/ }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all .3s; }
    @media (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #4eab3e; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff9100; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    display: block;
    margin-left: 2rem;
    margin-top: .7rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-input {
    visibility: hidden; }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #4eab3e;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0; }
    .form__radio-button::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4eab3e;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__cover {
    height: 70%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  animation: moveInBottom .5s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #8a2e69;
  letter-spacing: 0.5rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  width: 25rem;
  background-color: #4eab3e;
  color: white;
  letter-spacing: 0.5rem; }
  .btn--green::after {
    background-color: #4eab3e; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4eab3e;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  border-bottom: 1px solid #4eab3e;
  padding: 0 1rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #4eab3e;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 1rem 1.5rem 4px rgba(0, 0, 0, 0.15);
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.15); }

.feature-box {
  background-color: #f7f7f7;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    color: #4eab3e;
    margin-bottom: .5rem; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 2rem;
  padding: 3rem 6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 1rem 4rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story:not(:last-child) {
    margin-bottom: 7rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(0) skewX(0); } }
  .story__img {
    height: 100%;
    transform: scale(1.4);
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 40rem; }
  .card__side {
    background-color: orangered;
    height: 40rem;
    transition: all 1s ease;
    font-size: 2rem;
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffbb00, #ff9100); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #0077ff, #0400ff); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffbb00, #ff9100), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #0077ff, #0400ff), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: white;
    width: 42%; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.85), rgba(255, 145, 0, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 119, 255, 0.85), rgba(4, 0, 255, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: .2rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 4rem; }
      .card__price-only {
        font-size: 1.5rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(17, 16, 16, 0.4);
    border-radius: 2px;
    z-index: 20;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 33.3333%;
        position: relative;
        float: left;
        box-shadow: 0 1.5rem 3rem rgba(17, 16, 16, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: 3rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 9rem;
      top: 3rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          right: 0;
          left: 0; } }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          right: 0;
          left: 0; } }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(117, 1, 1, 0.4);
      transform: scale(1.05);
      z-index: 30;
      box-shadow: 0 2.5rem 4rem rgba(17, 16, 16, 0.4); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.row {
  max-width: 128rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }

.initial-head {
  background-color: #f7f7f7; }

.header {
  /*95% of viewport height */
  height: 95vh;
  background-image: url(../img/pkr1.JPG);
  /* cover resizes the background image that is fully visible */
  background-size: cover;
  /* avoids clipping on center and no clipping of image*/
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 23%, 73% 80%, 22% 100%);
  clip-path: polygon(0 0, 100% 23%, 73% 80%, 22% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /*moves the element wrt its current position */
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #2e2323;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__items {
    display: inline-block; }
    .footer__items:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #4eab3e;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding: 3rem 0 5rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 2rem 0 4rem; } }

.section-features {
  padding: 20rem 0;
  background-image: url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 8rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 5rem 0 8rem 0; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 3rem 0 5rem 0; } }

.section-stories {
  position: relative;
  padding: 5rem 0 11rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 3rem 0 8rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

/*Single ../ for image as the path is taken from final compiled css */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    padding: 6rem;
    width: 50%; }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
