/*refresh the npm run compile:sass if the import doesnot work*/

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "components/form";
@import "components/bg-video.scss";
@import "components/button";
@import "components/feature-box";
@import "components/story.scss";
@import "components/card.scss";
@import "components/composition.scss";
@import "layout/grid";
@import "layout/header";
@import "pages/home";