.initial-head {
    background-color: $color-grey-light;
}

.header {
    &__bg-image {
        background-image: url(../img/pkr1.JPG);
        /*95% of viewport height */
        height: 95vh;
        /* cover resizes the background image that is fully visible */
        background-size: cover;
        /* avoids clipping on center and no clipping of image*/
        background-position: center;
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 23%, 73% 80%, 22% 100%);
        clip-path: polygon(0 0, 100% 23%, 73% 80%, 22% 100%);

        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
    //Responsive image in css using media query
    //dpi = dots per inch and 192dpi is the highest resolution.pkr1-large is not available now 
    //'min-resolution' tagrets 1x or 2x and "min-width" targets the web page width
    //Here , means OR condition. 37.25em = 600px/16px
    // @media(min-resolution:192dpi) and (min-width:37.25px), (min-width:125em){
    //     background-image: url(../img/pkr1-large.JPG);
    // }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 6rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /*moves the element wrt its current position */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}