//COLOR
$color-primary: #4eab3e;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-grey-light: #f7f7f7;
$color-black: black;
$color-white: white;
$color-secondary-light: rgb(255, 187, 0);
$color-secondary-dark: rgb(255, 145, 0);
$color-tertiary-light: rgb(0, 119, 255);
$color-tertiary-dark: rgb(4, 0, 255);
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#2e2323;
//grid
$grid-width: 128rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal: 6rem;
//font-size
$default-font-size: 1.6rem;