.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        animation: moveInBottom .5s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    &--white {
        background-color: #fff;
        color: #8a2e69;
        letter-spacing: 0.5rem;
        &::after {
            background-color: #fff;
        }
    }
    &--green {
        width: 25rem;
        background-color: $color-primary;
        color: white;
        letter-spacing: 0.5rem;
        &::after {
            background-color: $color-primary;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        margin-top: 2rem;
        border-bottom: 1px solid $color-primary;
        padding: 0 1rem;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary;
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 1rem 1.5rem 4px rgba($color-black, .15);
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    &:active {
        transform: translateY(0);
        box-shadow: 1rem 1rem 1px rgba($color-black, .15);
    }
}