.feature-box {
	background-color: $color-grey-light;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 3px;
	padding: 2.5rem;
	box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
	transition: transform .3s;
	&__icon {
		font-size: 6rem;
		color: $color-primary;
		margin-bottom: .5rem;
	}
	&__text {
	}
	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
