.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 4rem rgba($color: #000000, $alpha: .1);
	background-color: white;
	border-radius: 2rem;
	padding: 3rem 6rem;
	transform: skewX(-12deg);
	&:not(:last-child) {
		margin-bottom: 7rem;
	}
	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
		backface-visibility: hidden;
	}

	&__img {
		height: 100%;
		transform: scale(1.4);
		transition: all .5s;
	}

	&__text {
		transform: skewX(12deg);
	}

	&__caption {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		text-transform: uppercase;
		font-size: 1.5rem;
		text-align: center;
		opacity: 0;
		transition: all .5s;
	}

	&:hover &__caption {
		opacity: 1;
		// same transform to be used
		transform: translate(-50%, -50%);
	}

	&:hover &__img {
		transform: scale(1);
		filter: blur(3px) brightness(80%);
	}
}
