*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    /*box-size inheritated*/
    box-sizing: inherit;
}

html {
    max-width: 100%;
    //This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    //place the media query with smaller width at last so that 700px width of device uses tab-port style i.e last one
    @include respond(tab-land) {
        //width < 1200
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }
    @include respond(tab-port) {
        //width < 900
        font-size: 50%; // 1rem = 8px; 8px/16px = 50%
    }
    @include respond(big-desktop) {
        font-size: 80%; // 1rem = 12; 12px/16px = 80%
    }
}

body {
    box-sizing: border-box;
    padding: 1.5rem;
    @include respond(tab-port) {
        padding: 0 !important;
    }
}