.section-about {
    background-color: $color-grey-light;
    padding: 3rem 0 5rem;
    @include respond(tab-port) {
        padding: 2rem 0 4rem;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: url(../img/nat-4.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%);
    @include respond(tab-port) {
        padding: 8rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 5rem 0 8rem 0;
    @include respond(tab-port) {
        padding: 3rem 0 5rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 5rem 0 11rem 0;
    @include respond(tab-port) {
        padding: 3rem 0 8rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}


/*Single ../ for image as the path is taken from final compiled css */

.book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    //100% specifies that background-image covers all space in x direction so in smaller devices it looks bad
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%), url(../img/nat-10.jpg);
    }
    &__form {
        padding: 6rem;
        width: 50%;
        @include respond(tab-port) {
            width: 100%;
        }
    }
}