.section-about {
	background-color: $color-grey-light;
	padding: 3rem 0 5rem;
}

.section-features {
	padding: 20rem 0;
	background-image: url(../img/nat-4.jpg);
	background-size: cover;
	-webkit-clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%);

	clip-path: polygon(7% 1%, 100% 0%, 90% 100%, 0% 100%);
}

.section-tours {
	background-color: $color-grey-light;
	padding: 5rem 0 15rem 0;
}
